<div class="task-menu">

  <div>
    <h2 class="mat-title">Active Tasks</h2>
    <mat-card *ngFor="let task of tasks" class="task" appElevate (click)="viewTask(task.id)">
      <mat-card-title-group>
        <mat-card-title>{{ task.name }}</mat-card-title>
        <mat-card-subtitle>Due: {{ task.dueDate | date: 'mediumDate' }} </mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>
        {{ task.description }}
      </mat-card-content>
    </mat-card>
  </div>

  <div>
    <h2 class="mat-title">Due Tasks</h2>
    <mat-card *ngFor="let task of tasks" class="task" appElevate (click)="viewTask(task.id)">
      <mat-card-title-group>
        <mat-card-title>{{ task.name }}</mat-card-title>
        <mat-card-subtitle>Due: {{ task.dueDate | date: 'mediumDate' }} </mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>
        {{ task.description }}
      </mat-card-content>
    </mat-card>
  </div>
  
  <div>
    <h2 class="mat-title">Completed Tasks</h2>
    <mat-card *ngFor="let task of tasks" class="task" appElevate (click)="viewTask(task.id)">
      <mat-card-title-group>
        <mat-card-title>{{ task.name }}</mat-card-title>
        <mat-card-subtitle>Due: {{ task.dueDate | date: 'mediumDate' }} </mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>
        {{ task.description }}
      </mat-card-content>
    </mat-card>
</div>