.task-menu
  padding: 1em
  display: flex
  flex-wrap: wrap
  flex-direction: row
  justify-content: space-evenly
  width: auto

  div
    flex-grow: 1
    padding: 2em

    .mat-card
      margin-bottom: 1.5em

      &:hover
        cursor: pointer