<div *ngIf="task" class="fixActionRow">
  <div mat-dialog-title>
    <h2 class="mat-title">
      {{ task.name | uppercase }}
    </h2>
    <div class="sub-titles">
      <h4 class="mat-subheading-1">{{ task.dueDate ? (task.dueDate | date: 'mediumDate') : 'Date not set'}}</h4>
      <h4 *ngIf="task.isCompleted != null && task.isCompleted; else notComplete" class="mat-subheading-1 complete-status">Completed</h4>
      <ng-template #notComplete>
        <h4 class="mat-subheading-1 complete-status">
          Not Completed
        </h4>
      </ng-template>
    </div>
    
  </div>

  <div mat-dialog-content class="mat-body">
      {{ task.description }}
  </div>

  <div class="spacer"></div>
  <div mat-dialog-actions align="end">
    <button mat-flat-button (click)="deleteTask()" color="warn">Delete</button>
    <a mat-flat-button [routerLink]="['/tasks/update/' + task.id]" mat-dialog-close color="accent">Edit</a>
    <button mat-button (click)="closeTask()" cdkFocusInitial>Close</button>
  </div>
</div>